<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/Radius/Tests/bootstrap.php"
>
  <testsuites>
    <testsuite name="Radius Test Suite">
      <directory>./test/Radius/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./lib/Radius/</directory>
    </whitelist>
  </filter>
</phpunit>
